.stone {
    width: 90%;
    display: block;
    margin-top: 8vh;
    margin-left: auto;
    margin-right: auto;
}

.stone:hover{
    background-color: rgb(212, 212, 212);
    border-radius: 40px;
}

.stone:active{
    background-color: rgb(177, 177, 177);
    border-radius: 40px;
}

