.title{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.statsTitle{
    font-weight: 500;
    margin-left: 10px;
    font-size: 1.0rem;
}

.statsDesc{
    font-weight: 300;
    margin-left: 10px;
    font-size: 1.0rem;
}

.statsTextBox{
    margin-bottom: 10px;
}