.mainPage {
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  display: inline-flex;
}

.firstColumn{
  border: 1px solid black;
  width: 25%;
  height: 100%;
}

.clickerBox {
  border: 1px solid black;
  width: 100%;
  height: 50%;
  background-color: rgb(223, 223, 223);
}

.statBox {
  border: 1px solid black;
  width: 100%;
  height: 50%;
  overflow-y: scroll;
}

.upgradeBox {
  border: 1px solid black;
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

.achivBox {
  border: 1px solid black;
  width: 25%;
  height: 100%;
}